<div class="content">
    <form class="filter-content" (ngSubmit)="onSubmit()">
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Salas de aula</mat-label>
                        <mat-select [(ngModel)]="this.form.classroom" name="classroom">
                          <mat-option *ngFor="let c of classroomsName" [value]="c">
                            {{c}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Cursos</mat-label>
                        <mat-select [(ngModel)]="this.form.course" name="course">
                          <mat-option *ngFor="let cou of coursesName" [value]="cou">
                            {{cou}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Unidade curriculares</mat-label>
                        <mat-select [(ngModel)]="this.form.curricularUnit" name="curricularUnit">
                          <mat-option *ngFor="let curricular of curricularUnitsName" [value]="curricular">
                            {{curricular}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Data</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate placeholder="Data inicial">
                          <input matEndDate placeholder="Data final">
                        </mat-date-range-input>
                        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <button mat-raised-button color="accent" type="submit">
            <mat-icon>search</mat-icon>
            Pesquisar
        </button>
    </form>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->


        <!-- Position Column -->
        <ng-container matColumnDef="courseEntity.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="courseEntity.name">
            Curso
          </th>
          <td mat-cell *matCellDef="let element"> {{element.courseEntity.name}} </td>
        </ng-container>

        <ng-container matColumnDef="curricularUnitEntity.name">
            <th mat-header-cell mat-sort-header="curricularUnitEntity.name" *matHeaderCellDef> Unidade curricular </th>
            <td mat-cell *matCellDef="let element"> {{element.curricularUnitEntity.name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="courseEntity.shift">
          <th mat-header-cell mat-sort-header="courseEntity.shift" *matHeaderCellDef> Turno </th>
          <td mat-cell *matCellDef="let element"> {{element.courseEntity.shift}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell mat-sort-header="startDate" *matHeaderCellDef> Dia </th>
          <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
        </ng-container>

        <ng-container matColumnDef="classroomEntity.name">
            <th mat-header-cell mat-sort-header="classroomEntity.name" *matHeaderCellDef> Sala de aula </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ element.classroomEntity.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="classroomEntity.capacity">
            <th mat-header-cell mat-sort-header="classroomEntity.capacity" *matHeaderCellDef> Capacidade sala de aula </th>
            <td mat-cell *matCellDef="let element"> {{element.classroomEntity.capacity}} </td>
        </ng-container>

        <ng-container matColumnDef="caracteristic">
            <th mat-header-cell mat-sort-header="caracteristic" *matHeaderCellDef> Características da sala pedida </th>
            <td mat-cell *matCellDef="let element"> {{element.caracteristic}} </td>
        </ng-container>

        <ng-container matColumnDef="capacityRequired">
            <th mat-header-cell mat-sort-header="capacityRequired" *matHeaderCellDef> Capacidade </th>
            <td mat-cell *matCellDef="let element"> {{element.capacityRequired}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                matTooltip="Edit" color="primary" (click)="editSchedule(element)">
                <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
